* {
  margin: 0;
  padding: 0;

}

body {
  background: #e7e7e7;
}

img {
  width: 100%;
}

ul,
li {
  list-style: none;
}

header {
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  max-height: 52px;
}

nav {
  display: flex;
  justify-content: flex-end;
  max-width: 1600px;
  width: 100%;
}

li {
  padding: 18px 24px;
  letter-spacing: 1px;
  margin: 0 10px;
  transition: all .8s;
  font-family: monospace;
  font-size: 14px;
  font-weight: 900;
}

li:hover {
  letter-spacing: 1.4px;
  box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.28);
  font-size: 16px;
  filter: drop-shadow(3px 6px 4px black) !important;
  cursor: pointer;
}

ul:hover li {
  filter: blur(1px);
}

a {
  text-decoration: none;
  color: #000;
}

.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1600px;
}

main {
  display: flex;
  justify-content: center;
  background: #dcdcdc
}

.main {
  background: #e7e7e7;
  position: relative;
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
  box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.1);
  padding: 60px;
  border-radius: 96px 0 100px 0;
}

.main-img {
  width: 33%;
}

.main-txt {
  width: 60%;
  position: relative;
}

.main-txt h1 {
  font-family: math;
  font-size: 54px;
  text-transform: uppercase;

}

.main-txt h6 {
  margin: 15px 0;
  font-size: 18px;
  font-family: fantasy;
  letter-spacing: 2px;
  font-weight: 100;
}

.info p:first-child {
  margin: 30px 0 10px;
}

.info p {
  opacity: 0.7;
  text-transform: capitalize;
  text-align: justify;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
}

.button {
  margin: 60px 0 0;
}

.button button span:first-child {
  position: absolute;
  left: 21%;
  top: 31%;
  transform: scale(0);
}

.button button {
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 32px;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: system-ui;
  font-size: 14px;
  border-radius: 0 50px 50px 0;
  overflow: hidden;
}

.button button img,
.button button span {
  transition: all .8s;
}

.button button:hover span:nth-child(2) {
  transform: translateX(-90px);
}

.button button:hover img {
  transform: translateX(70px);
}

.button button:hover span:first-child {
  transform: scale(1);
}

.button img {
  padding: 2px 0 0 10px;
}

.it {
  position: absolute;
  right: -7px;
  top: -24px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: purple;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  padding: 8px;
}

.part2-img {
  width: 100%;
  border-radius: 96px 0 100px 0;

}

.part2-img img {
  border-radius: 96px 0 100px 0;

}

.part2-txt {
  position: absolute;
  left: 66px;
  width: calc(100% - 60px - 65px);
  height: 77%;
  background: #000;
  opacity: .4;
  border-radius: 86px 0 100px 0;
}

.part2-txt h2 {
  color: cornsilk;
  font-size: 37px;
  margin: 60px 39px;
  font-family: monospace;
  text-transform: uppercase;
}

.part2-txt button {
  opacity: 1 !important;
  display: flex;
  align-items: center;
  position: absolute;
  width: 200px;
  padding: 5px 0;
  justify-content: center;
  font-size: 16px;
  border-radius: 0 50px 50px 0;
  background: #fff;
  text-transform: uppercase;
  overflow: hidden;
}

.part2-txt button img {
  width: 45px;
  padding: 0 0 0 5px;
  transition: all .4s;
}

.part2-txt button span,
.part2-txt button img {
  transition: all .8s;

}

.part2-txt button:hover span:first-child {
  transform: translateX(-188px);
}

.part2-txt button:hover img {
  transform: translateX(120px);
}

.part2-txt button:hover span:nth-child(2) {
  transform: scale(1);
}

.part2-txt button span:nth-child(2) {
  position: absolute;
  left: 25%;
  top: 33%;
  transform: scale(0);
}

.part2-txt p {
  color: #fff;
  margin: 0 40px;
  font-size: 23px;
  font-family: math;
  font-weight: 100;
  letter-spacing: 1px;
  position: absolute;
  z-index: 188;
  text-align: justify;
  left: 6%;
}

.buttonDiv {
  position: absolute;
  bottom: 25%;
  right: 25%;
}

.Footer {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
}


.footerMain {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

footer {
  background: #151515;
  display: flex;
  justify-content: center;
}

footer h3 {
  font-family: monospace;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 4px;
  font-size: 18px;
  margin: 0px -7px 5px;
}

footer li {
  list-style: circle;
  padding: 9px 6px;
  color: #fff;
  font-family: system-ui;
  font-weight: 100;
  line-height: 1.5;
}

footer ul {
  height: max-content;
}

.social i {
  color: #fff;
  margin: 15px 10px;
  font-size: 21px;

}

button {
  cursor: pointer;
}

.active li {
  filter: drop-shadow(3px 6px 4px black) !important;
}

.aboutMain {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  flex-wrap: wrap;
}

.aboutLeft {
  width: 50%;
}

.aboutRight {
  width: 40%;
}

.width {
  width: 100%;
}

.abFlex {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.aboutMain h3 {
  font-size: 27px;
  text-transform: uppercase;
  font-family: math;
  text-shadow: 0px 8px 11px red;
  margin: 0 0 15px;
}

.aboutMain p {
  font-size: 14px;
  text-transform: uppercase;
  font-family: monospace;
  margin: 0 0 10px
}

.aboutMain h6 {
  text-transform: uppercase;
  font-family: fantasy;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 16px;
  padding: 20px 0;
}

.abFlexRight {
  width: 30%;
}

.abFlexLeft {
  width: calc(70% - 40px);
  padding: 0 20px;

}

.border {
  border-bottom: 1px solid;
  opacity: .8;
}

.borderS {
  border-bottom: 1px solid #ccc;
  opacity: .8;
  padding: 0 20px;
}

.padd {
  padding: 60px 0;
}

.aboutTitle {
  width: 100%;
  position: relative;
}

.aboutTitle h1 {
  text-align: center;
  font-weight: 900;
  font-family: 'Kanit', sans-serif;
  font-size: 61px;
  padding: 40px 0;
}

.aboutTitle span {
  color: purple;
}

.aboutTitle p {
  position: absolute;
  top: 35%;
  left: 50.2%;
  color: purple;
  font-size: 20px;
}

.back {
  width: 50%;
  background: #b7b7b7;
}

.ff {
  display: flex;
  align-items: center;
}

.ff div {
  width: 100%;
  text-align: center;
  background: #b7b7b7;
  border-radius: 30px;
}

.ff p {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: aqua;
  margin: 0;
  padding: 4px;
}

.ff h5 {
  font-family: cursive;
  font-size: 24px;
  margin: 0 25px 0 0;
}